:root
{
	--main:#f33;
}

header,.icon
{
	background:var(--main);
}

.icon
{
	position:relative;
	text-transform:uppercase;
}
.icon::after
{
	position:absolute;
}

[data-ext="folder"]{color:transparent;}/*@todo remove when icon font is added*/

[data-ext="js"]
{
	background:#fc0;
	color:#222;
}
